In [30]:
import pandas as pd


#read the dataset with name "Fake_Real_Data.csv" and store it in a variable df
df = pd.read_csv("FakeNews.csv")
#print the shape of dataframe
print(df.shape)


#print top 5 rows
df.head(5)
# type(df)

(23481, 4)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [67]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

y = encoder.fit_transform(df['subject'])
y

array([2, 2, 2, ..., 1, 1, 1])

In [68]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

df['subject'] = encoder.fit_transform(df['subject'])
df['subject'].value_counts()

2    9050
5    6841
4    4459
0    1570
3     783
1     778
Name: subject, dtype: int64

In [3]:
df['subject'].value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [6]:
df.subject.replace("Government News", "Government_News", inplace=True)
df['subject'].value_counts()

News               9050
politics           6841
left-news          4459
Government_News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [32]:
df['label'] = df['subject'].map({'News' : 0, 'politics': 1, 'left-news':2, 'Government_News':3, 'US_News':4, 'Middle-east':5})

#check the results with top 5 rows
df.head(5)

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,donald trump just couldn t wish all americans ...,News,"December 31, 2017",0.0
1,Drunk Bragging Trump Staffer Started Russian ...,house intelligence committee chairman devin nu...,News,"December 31, 2017",0.0
2,Sheriff David Clarke Becomes An Internet Joke...,on friday it was revealed that former milwauke...,News,"December 30, 2017",0.0
3,Trump Is So Obsessed He Even Has Obama’s Name...,on christmas day donald trump announced that h...,News,"December 29, 2017",0.0
4,Pope Francis Just Called Out Donald Trump Dur...,pope francis used his annual christmas day mes...,News,"December 25, 2017",0.0

In [33]:
df['label'].value_counts()

0.0    9050
1.0    6841
2.0    4459
4.0     783
5.0     778
Name: label, dtype: int64

In [34]:
import re

def preprocess(text):
    text = re.sub(r'[^\w\s\']',' ', text)
    text = re.sub(' +', ' ', text)
    return text.strip().lower()

In [35]:
df['text'] = df['text'].map(preprocess)
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,donald trump just couldn t wish all americans ...,News,"December 31, 2017",0.0
1,Drunk Bragging Trump Staffer Started Russian ...,house intelligence committee chairman devin nu...,News,"December 31, 2017",0.0
2,Sheriff David Clarke Becomes An Internet Joke...,on friday it was revealed that former milwauke...,News,"December 30, 2017",0.0
3,Trump Is So Obsessed He Even Has Obama’s Name...,on christmas day donald trump announced that h...,News,"December 29, 2017",0.0
4,Pope Francis Just Called Out Donald Trump Dur...,pope francis used his annual christmas day mes...,News,"December 25, 2017",0.0

In [36]:
import gensim

df['text'] = df['text'].apply(gensim.utils.simple_preprocess)
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,"[donald, trump, just, couldn, wish, all, ameri...",News,"December 31, 2017",0.0
1,Drunk Bragging Trump Staffer Started Russian ...,"[house, intelligence, committee, chairman, dev...",News,"December 31, 2017",0.0
2,Sheriff David Clarke Becomes An Internet Joke...,"[on, friday, it, was, revealed, that, former, ...",News,"December 30, 2017",0.0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"[on, christmas, day, donald, trump, announced,...",News,"December 29, 2017",0.0
4,Pope Francis Just Called Out Donald Trump Dur...,"[pope, francis, used, his, annual, christmas, ...",News,"December 25, 2017",0.0

In [ ]:
df.text.loc[0]

In [38]:
model = gensim.models.Word2Vec(
    window=10,
    min_count=2,
    workers=4,
)

In [39]:
model.build_vocab(df['text'], progress_per=1000)

In [40]:
model.train(df['text'], total_examples=model.corpus_count, epochs=model.epochs)

(38465033, 48127995)

In [41]:
model.save("news.model")

In [42]:
model.wv.most_similar("bad")

[('good', 0.7422059774398804),
 ('sad', 0.6137779951095581),
 ('stupid', 0.6094492077827454),
 ('scary', 0.5726872682571411),
 ('terrible', 0.5574905276298523),
 ('funny', 0.5570284128189087),
 ('easy', 0.5457451939582825),
 ('horrible', 0.537053644657135),
 ('big', 0.5192208290100098),
 ('crazy', 0.5182767510414124)]

In [48]:
model.wv.most_similar("book")

[('memoir', 0.6640644669532776),
 ('essay', 0.6112135052680969),
 ('author', 0.6090819835662842),
 ('article', 0.6013680696487427),
 ('books', 0.5964882373809814),
 ('piece', 0.5907484889030457),
 ('quote', 0.5658068060874939),
 ('paragraph', 0.550724446773529),
 ('magazine', 0.5425453782081604),
 ('passages', 0.5416829586029053)]

In [44]:
model.wv.similarity(w1="cheap", w2="inexpensive")

0.15605518

In [45]:
model.wv.similarity(w1="great", w2="good")

0.6636343

In [50]:
model = gensim.models.Word2Vec.load("news.model")

In [61]:

def preprocess_and_vectorize(text):
    # remove stop words and lemmatize the text
    
    filtered_tokens = []
    for token in text:
        filtered_tokens.append(token)
        
    return model.wv.get_mean_vector(filtered_tokens)

In [ ]:
df['vector'] = df['text'].apply(lambda text: preprocess_and_vectorize(text))
# df.head()

In [63]:
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,"[donald, trump, just, couldn, wish, all, ameri...",News,"December 31, 2017",0.0
1,Drunk Bragging Trump Staffer Started Russian ...,"[house, intelligence, committee, chairman, dev...",News,"December 31, 2017",0.0
2,Sheriff David Clarke Becomes An Internet Joke...,"[on, friday, it, was, revealed, that, former, ...",News,"December 30, 2017",0.0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"[on, christmas, day, donald, trump, announced,...",News,"December 29, 2017",0.0
4,Pope Francis Just Called Out Donald Trump Dur...,"[pope, francis, used, his, annual, christmas, ...",News,"December 25, 2017",0.0